app/step-functions-templates/run_s3_steps_copy_sfn_template.asl.json
{
  "Comment": "A description of my state machine",
  "QueryLanguage": "JSONata",
  "StartAt": "Set Vars",
  "States": {
    "Set Vars": {
      "Type": "Pass",
      "Next": "Wait",
      "Assign": {
        "jobId": "{% $states.input.jobId %}",
        "fastqIdList": "{% $states.input.fastqIdList %}",
        "s3StepsCopyBucket": "${__aws_s3_copy_steps_bucket__}",
        "s3StepsCopyPrefix": "{% '${__aws_s3_copy_steps_key_prefix__}' & $states.input.jobId & '/' %}",
        "s3StepsCopyJsonlKey": "{% 'unarchive_fastq_list.jsonl' %}",
        "restoreBucket": "${__aws_s3_pipeline_cache_bucket__}",
        "restorePrefix": "{% '${__aws_s3_pipeline_cache_restore_prefix__}' & $now('year=[Y0001]/month=[M01]/day=[D01]') & '/' & $states.input.jobId & '/' %}"
      }
    },
    "Wait": {
      "Type": "Wait",
      "Seconds": 5,
      "Next": "Add Unarchiving job running event"
    },
    "Add Unarchiving job running event": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__update_job_database_lambda_function_arn__}",
        "Payload": {
          "jobId": "{% $jobId %}",
          "status": "RUNNING"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Generate package jsonl"
    },
    "Generate package jsonl": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__generate_jsonl_lambda_function_arn__}",
        "Payload": {
          "fastqIdList": "{% $fastqIdList %}",
          "s3StepsCopyBucket": "{% $s3StepsCopyBucket %}",
          "s3StepsCopyPrefix": "{% $s3StepsCopyPrefix %}",
          "s3StepsCopyJsonlKey": "{% $s3StepsCopyJsonlKey %}",
          "restoreBucket": "{% $restoreBucket %}",
          "restorePrefix": "{% $restorePrefix %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Next": "Run unarchiver"
    },
    "Run unarchiver": {
      "Type": "Task",
      "Resource": "arn:aws:states:::states:startExecution.sync:2",
      "Arguments": {
        "StateMachineArn": "${__aws_s3_steps_copy_sfn_arn__}",
        "Input": {
          "instructionsPrefix": "{% $s3StepsCopyPrefix %}",
          "instructionsKey": "{% $s3StepsCopyJsonlKey %}",
          "destinationBucket": "{% $restoreBucket %}",
          "destinationPrefix": "{% $restorePrefix %}",
          "retainSummaryCsv": true
        }
      },
      "Next": "Check Copied Successfully",
      "Catch": [
        {
          "ErrorEquals": ["States.ALL"],
          "Next": "Handle Error",
          "Comment": "Steps function failure",
          "Output": {
            "error": "{% $states.errorOutput ? $states.errorOutput : null %}"
          }
        }
      ],
      "Output": {
        "workingCsvKey": "{% $states.result.Output.workingCsvKey %}"
      }
    },
    "Check Copied Successfully": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Arguments": {
        "FunctionName": "${__check_successful_steps_copy_lambda_function_arn__}",
        "Payload": {
          "workingCsvBucket": "{% $s3StepsCopyBucket %}",
          "workingCsvKey": "{% $states.input.workingCsvKey %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "Output": {
        "hasError": "{% $states.result.Payload.hasError %}",
        "errorMessage": "{% $states.result.Payload.errorMessage %}"
      },
      "Next": "Handle Error"
    },
    "Handle Error": {
      "Type": "Choice",
      "Choices": [
        {
          "Next": "Update job database",
          "Condition": "{% $states.input.hasError ? true : false %}"
        }
      ],
      "Default": "ListObjectsV2"
    },
    "ListObjectsV2": {
      "Type": "Task",
      "Arguments": {
        "Bucket": "{% $restoreBucket %}",
        "Prefix": "{% $restorePrefix %}"
      },
      "Resource": "arn:aws:states:::aws-sdk:s3:listObjectsV2",
      "Next": "For each output file",
      "Output": {
        "fileList": "{% /* https://try.jsonata.org/QOikiNxbj */\n[\n  $filter(\n    [\n        $map(\n          $states.result.Contents, \n          function($contentIter){\n            {\n              \"Bucket\": $restoreBucket,\n              \"Key\": $contentIter.Key\n            }\n          }\n        )\n    ],\n    function($bucketKeyPairIter){\n      $not(\n        $contains($bucketKeyPairIter.Key, \"STARTED_COPY.txt\") or \n        $contains($bucketKeyPairIter.Key, \"ENDED_COPY.csv\")\n      )\n    }\n  )\n] %}"
      }
    },
    "For each output file": {
      "Type": "Map",
      "Items": "{% $states.input.fileList %}",
      "ItemSelector": {
        "bucketIter": "{% $states.context.Map.Item.Value.Bucket %}",
        "keyIter": "{% $states.context.Map.Item.Value.Key %}",
        "fastqIdListIter": "{% $fastqIdList %}"
      },
      "ItemProcessor": {
        "ProcessorConfig": {
          "Mode": "DISTRIBUTED",
          "ExecutionType": "STANDARD"
        },
        "StartAt": "Map Iter Vars",
        "States": {
          "Map Iter Vars": {
            "Type": "Pass",
            "Next": "Find Original Ingest ID",
            "Assign": {
              "fastqIdListIngestMapIter": "{% $states.input.fastqIdListIter %}",
              "bucketIngestMapIter": "{% $states.input.bucketIter %}",
              "keyIngestMapIter": "{% $states.input.keyIter %}",
              "s3UriIngestMapIter": "{% 's3://' & $states.input.bucketIter & '/' & $states.input.keyIter %}"
            }
          },
          "Find Original Ingest ID": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Arguments": {
              "FunctionName": "${__find_original_ingest_id_lambda_function_arn__}",
              "Payload": {
                "fastqIdList": "{% $fastqIdListIngestMapIter %}",
                "s3Uri": "{% $s3UriIngestMapIter %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "Next": "Manually update ingest id",
            "Output": {
              "fastqId": "{% $states.result.Payload.fastqId %}",
              "ingestId": "{% $states.result.Payload.ingestId %}"
            }
          },
          "Manually update ingest id": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Output": "{% $states.result.Payload %}",
            "Arguments": {
              "FunctionName": "${__update_ingest_id_lambda_function_arn__}",
              "Payload": {
                "fastqId": "{% $states.input.fastqId %}",
                "ingestId": "{% $states.input.ingestId %}",
                "bucket": "{% $bucketIngestMapIter %}",
                "key": "{% $keyIngestMapIter %}"
              }
            },
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException",
                  "Lambda.TooManyRequestsException"
                ],
                "IntervalSeconds": 1,
                "MaxAttempts": 3,
                "BackoffRate": 2,
                "JitterStrategy": "FULL"
              }
            ],
            "Catch": [
              {
                "ErrorEquals": ["States.TaskFailed"],
                "Comment": "Update ingest id failure",
                "Next": "Add failed messaged as output (ingest error)"
              }
            ],
            "Next": "Wait 15 minutes after updating"
          },
          "Wait 15 minutes after updating": {
            "Type": "Wait",
            "Seconds": 900,
            "End": true
          },
          "Add failed messaged as output (ingest error)": {
            "Type": "Pass",
            "Output": {
              "errorMessage": "{% 'Ingest ID update s3 uri ' & $s3UriIngestMapIter %}",
              "hasError": true
            },
            "End": true
          }
        }
      },
      "Label": "Foreachoutputfile",
      "MaxConcurrency": 1000,
      "Output": {
        "hasError": "{% /* Check if any iterable of hasError is set to true  -  https://try.jsonata.org/9IqHtAIc0 */\n$sum(\n  [\n    $map($states.result, function($resultIter){$resultIter.hasError = true ? 1 : 0})\n  ]\n) > 0 ? true : false %}",
        "errorMessage": "{% /* Append error messages if they exist  - https://try.jsonata.org/ISxrerk39 */\n(\n  $appendMessages := function($i, $j){$i or $j ? $i & \" \" & $j : \"\"};\n  $errorMessages := [\n    $map(\n      [$filter(\n        $states.result,\n        function($resultIter){\n          $resultIter.errorMessage ? true : false\n        }\n      )],\n      function($resultIter){$resultIter.errorMessage}\n    )\n  ];\n  $errorMessages ? $reduce($errorMessages, $appendMessages) : null\n)\n %}"
      },
      "Next": "Update job database"
    },
    "Update job database": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Output": "{% $states.result.Payload %}",
      "Arguments": {
        "FunctionName": "${__update_job_database_lambda_function_arn__}",
        "Payload": {
          "jobId": "{% $jobId %}",
          "hasError": "{% $states.input.hasError %}",
          "errorMessage": "{% $states.input.errorMessage %}",
          "status": "{% $states.input.hasError ? 'FAILED' : 'SUCCEEDED' %}"
        }
      },
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException",
            "Lambda.TooManyRequestsException"
          ],
          "IntervalSeconds": 1,
          "MaxAttempts": 3,
          "BackoffRate": 2,
          "JitterStrategy": "FULL"
        }
      ],
      "End": true
    }
  }
}
